.table {
    width: 90%;
    height: 80%;
    overflow-y: auto;
}

table, tr, td, tbody, thead {
    border: 0.5vmin solid var(--text-color);
}   

table {
    min-width: 100%;
    min-height: 100%;
    border-collapse: collapse;
}